In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
df = DataFrame(np.random.randn(10,4), columns = ["A","B","C","D"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
dtypes: float64(4)
memory usage: 448.0 bytes

In [12]:
n = 4
dfh = df.head(5)
dft = df.tail(5)
dfs = df.describe()

In [10]:
print(dfh)

          A         B         C         D
0 -0.804033  0.396959 -0.100846  0.709386
1 -1.181397 -1.450692 -0.709592 -1.344481
2  0.153932  0.237824 -0.225474  1.620908
3 -1.426888  0.320736 -0.274075  0.772449
4  0.956983 -2.079334 -1.566049 -1.458972

In [14]:
print(dft)

          A         B         C         D
5  0.549119 -1.006211  2.387428  0.541843
6 -0.754393  1.331924 -0.981261  2.142910
7  0.338050  0.303597  0.037536 -0.390809
8  0.190009  1.228008  1.155911 -0.498283
9 -2.099648  0.221626  0.947824  0.846934

In [18]:
print(df.iloc[:2,:2])

          A         B
0 -0.804033  0.396959
1 -1.181397 -1.450692

In [19]:
print(df.T)

          0         1         2         3         4         5         6  \
A -0.804033 -1.181397  0.153932 -1.426888  0.956983  0.549119 -0.754393
B  0.396959 -1.450692  0.237824  0.320736 -2.079334 -1.006211  1.331924
C -0.100846 -0.709592 -0.225474 -0.274075 -1.566049  2.387428 -0.981261
D  0.709386 -1.344481  1.620908  0.772449 -1.458972  0.541843  2.142910

          7         8         9
A  0.338050  0.190009 -2.099648
B  0.303597  1.228008  0.221626
C  0.037536  1.155911  0.947824
D -0.390809 -0.498283  0.846934

In [20]:
df.axes

[RangeIndex(start=0, stop=10, step=1),
 Index(['A', 'B', 'C', 'D'], dtype='object')]

In [25]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [34]:
adf = DataFrame(np.random.randn(3,4), columns = ["a","b","c","d"])
adf

          a         b         c         d
0  0.956959 -1.380976  0.289928  0.443641
1  0.374791 -0.863742 -1.489046  0.099907
2  1.189105 -0.199555  0.345931 -0.481554

In [42]:
c = adf[["a","b"]]
d = c["a"].tolist()
d

[0.9569594134614059, 0.3747909463511204, 1.1891045963679452]

In [43]:
adf.c

0    0.289928
1   -1.489046
2    0.345931
Name: c, dtype: float64

In [44]:
adf

          a         b         c         d
0  0.956959 -1.380976  0.289928  0.443641
1  0.374791 -0.863742 -1.489046  0.099907
2  1.189105 -0.199555  0.345931 -0.481554

In [47]:
adf["e"] = np.random.randn(3)
adf

          a         b         c         d         e
0  0.956959 -1.380976  0.289928  0.443641  0.367135
1  0.374791 -0.863742 -1.489046  0.099907  1.551090
2  1.189105 -0.199555  0.345931 -0.481554 -0.353218

In [60]:
adf.b.where(adf.a>0, other = 0)

0   -1.380976
1   -0.863742
2   -0.199555
Name: b, dtype: float64

In [61]:
ss = adf.astype(str)
ss

,a,b,c,d,e
0,0.9569594134614059,-1.3809757253078268,0.2899279860369249,0.44364102910106823,0.3671346660022414
1,0.3747909463511204,-0.8637416132190198,-1.489046050488069,0.09990692052922646,1.5510901196379765
2,1.1891045963679452,-0.19955507425427385,0.3459306995220749,-0.4815535336291833,-0.35321790052050944

In [62]:
ii = ss.astype(float)
ii

          a         b         c         d         e
0  0.956959 -1.380976  0.289928  0.443641  0.367135
1  0.374791 -0.863742 -1.489046  0.099907  1.551090
2  1.189105 -0.199555  0.345931 -0.481554 -0.353218

In [66]:
print(adf.b.idxmax())
adf.b.idxmin()

2

0

In [67]:
ii.isnull()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False

In [72]:
adf.round(decimals = 0)
adf

          a         b         c         d         e
0  0.956959 -1.380976  0.289928  0.443641  0.367135
1  0.374791 -0.863742 -1.489046  0.099907  1.551090
2  1.189105 -0.199555  0.345931 -0.481554 -0.353218

In [78]:
adf.drop([0,2])

          a         b         c         d        e
1  0.374791 -0.863742 -1.489046  0.099907  1.55109